.header{
    background-color: #007bff;
    height: 50px;
    text-align: center;
}

.main-container{
    min-height: 500px;
}
.qa-container{
    background-color: whitesmoke;
}
.side-container{
    background-color: white;
}
.inner-header{
    margin: 3%;
    background-color: white;
    padding: 5px;
    text-align: center;
}
.inner-header p{
    margin: 0;
    padding: 0;
}
.inner-cont{
    margin: 3%;
    padding: 10px;
    background: white;
    font-size: 15px;
}
.inner-cont p{
    margin: 0;
    padding: 0;
}

.qnumber {
    border-radius: 20px;
    height: 40px;
    width: 40px;
    margin: 5px;

}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.violet{
    background-color: violet;
}

.qadiv{
    height: 90%;
}
.savebtn{
    float: right;
}
.btn-primary{
    display: inline;
}
